<h2>Trackers</h2>

<div class="create-tracker-wrapper">
    <h3>Create new tracker</h3>

    {% include '@SimplyStreamSoulsDeath/tracker/_tracker-form.html.twig' with {form} only %}
</div>

{% for tracker in trackers %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ tracker.name }}</h5>

            <a href="{{ path('simplystream.get_tracker', {id: tracker.id}) }}" class="card-link">Show</a>
            <a href="{{ path('simplystream.get_tracker_overlay_total', {id: tracker.id}) }}" class="card-link">
                Total Deaths Overlay
            </a>
        </div>
    </div>
{% endfor %}
